<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970871559593-kq1tj485jokq46q1bov43qh1qfj03p6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970871559593-kq1tj485jokq46q1bov43qh1qfj03p6f</string>
	<key>API_KEY</key>
	<string>AIzaSyCkXNDFylYoB1jBV0eRDqFOeRpY_imF7lY</string>
	<key>GCM_SENDER_ID</key>
	<string>970871559593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deb.nonchalant.MovieThoughts</string>
	<key>PROJECT_ID</key>
	<string>nonchalant-shrug</string>
	<key>STORAGE_BUCKET</key>
	<string>nonchalant-shrug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970871559593:ios:c1bff66bab4a211d85a0b8</string>
</dict>
</plist>